# Ignore everything
*

# But not these files...
!*.m

# ...and not this folder...
!brainvision_eeg/

# ...and not this folder...
!utils/

# ...and not anything in that folder
!utils/**

# ...also don't ignore these folders, since it' gives structure


# Ensure .gitignore itself is not ignored
!.gitignore