# Ignore everything
*

# But not these files...
!*.m
!*.xlsx

# ...and not this folder...
!brainvision_eeg/
!channel_locs/
!utils/

# ...and not anything in that folder
!utils/**
!channel_locs/**

# ...also don't ignore these folders, since it' gives structure


# Ensure .gitignore itself is not ignored
!.gitignore