# Ignore everything
*

# But not these files...
!*.m

# ...and not this folder...
!brainvision_eeg/

# ...and not anything in that folder
!brainvision_eeg/**

# ...and not this folder...
!utils/

# ...and not anything in that folder
!utils/**

# ...also don't ignore these folders, since it' gives structure
!1_preprocessed_data/
!2_epoch_data/
!3_ERSP_data/
!4_memory_load/
!5_group_ERSP/
!6_ERC/

# Ensure .gitignore itself is not ignored
!.gitignore